h1 {
    color: #0B3861;
    font-family: Arial, Helvetica, sans-serif;
      
}

p {
    color:#750f0f;
    font-size: 20px;
    font-family: sans-serif;
}

a {
    color: #01DF3A;
    font-style: italic;
    text-decoration: none;
}